<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Student</title>
  <th:block th:replace="layout :: Link-css"></th:block>
  <style>
        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Edit Student</h1>
      <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
      </div>
      <form id="editStudentForm" th:action="@{'/api/v1/students/' + ${student.id}}" method="put" th:object="${student}">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" class="form-control" id="age" th:field="*{age}" required>
        </div>
        <div class="form-group">
          <label for="course">Course:</label>
          <select class="form-control" id="course" name="courseName" th:field="*{courseName}" required>
            <option th:each="course : ${courses}" th:value="${course.name}" th:text="${course.name}" th:selected="${course.name == student.courseName}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Update</button>
      </form>
    </div>
  </div>
</div>
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<script th:src="@{/js/student/edit.js}"></script>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
