<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <th:block th:replace="layout :: Link-css"></th:block>
    <style>
        .container {
            margin-top: 100px;
        }
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Add Course</h1>
            <div th:if="${errorMessage}" class="alert alert-danger">
                <p th:text="${errorMessage}"></p>
            </div>
            <form id="addCourseForm" th:action="@{/api/v1/courses}" method="post" th:object="${course}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    <p class="error-message" id="name-error"></p>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" th:field="*{description}" required></textarea>
                    <p class="error-message" id="description-error"></p>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/course/add.js}"></script>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
