<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Assignment List</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#comment-list').hide(); // Ẩn ban đầu

            $('#show-comments-btn').click(function() {
                $('#comment-list').toggle(); // Hiển thị/ẩn khi nhấn kích hoạt
            });
        });

        function deleteAssignment(assignmentId) {
            var deleteUrl = "/assignments/delete/" + assignmentId;
            $.ajax({
                url: deleteUrl,
                type: "DELETE",
                success: function () {
                    // Xóa thành công
                    console.log('Assignment deleted');
                    // Thực hiện các hành động bổ sung sau khi xóa, nếu cần

                    // Cập nhật giao diện (xóa hàng dòng trong bảng)
                    $('[data-assignment-id="' + assignmentId + '"]').closest('tr').remove();
                },
                error: function () {
                    // Xóa thất bại hoặc không tìm thấy assignment
                    console.log('Failed to delete assignment');
                }
            });
        }
    </script>
    <style>
        .comment-item {
            margin-bottom: 10px; /* Khoảng cách dưới giữa các phần tử comment */
            padding: 10px; /* Khoảng cách bên trong phần tử comment */
            border: 1px solid #ccc; /* Viền cho phần tử comment */
        }
    </style>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Assignment List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Student Name</th>
            <th>Score</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignment : ${assignments}">
            <td th:text="${assignment.title}"></td>
            <td th:text="${assignment.description}"></td>
            <td>
                <span th:text="${assignment.student?.name}"></span>
            </td>
            <td>
                <span th:text="${assignment.score}"></span>
            </td>
            <td>
                <span th:text="${assignment.deadline}"></span>
            </td>
            <td>
                <span th:if="${assignment.assigned}">Assigned</span>
                <span th:if="${not assignment.assigned}">Not Assigned</span>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/assignments/{id}(id=${assignment.id})}">Details</a>
                <a class="btn btn-warning" sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:href="@{/assignments/edit/{id}(id=${assignment.id})}">Edit</a>
                <a class="btn btn-danger" sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:data-assignment-id="${assignment.id}" onclick="deleteAssignment(this.getAttribute('data-assignment-id'))">Delete</a>
                <a class="btn btn-success" sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:if="${!assignment.assigned}" th:href="@{/assignments/assign/{id}(id=${assignment.id})}">Assign</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Comments</h2>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/comments}" method="post">
                <div class="form-group">
                    <textarea class="form-control" name="content" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
        </div>
    </div>

    <div id="comment-list" class="mt-3">
        <h3>List of Comments:</h3>
        <ul>
            <li th:each="comment : ${comments}">
                <div class="comment-item">
                    <span>Content :<span th:text="${comment.content}"></span></span>
                    <span>Created at: <span th:text="${comment.createdAt}"></span></span>
                    </br>
                    <span th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''USER'')')}">
                    <!-- Hiển thị quyền của người dùng -->
                    <span th:text="'User_ST Role: ' + ${#authorization.expression('hasAuthority(''USER_ST'')')}"></span>
                    <span th:text="'User Role: ' + ${#authorization.expression('hasAuthority(''USER'')')}"></span>
                    <span th:text="'Admin Role: ' + ${#authorization.expression('hasAuthority(''ADMIN'')')}"></span>
                </span>
                </div>
            </li>
        </ul>
    </div>


    <button id="show-comments-btn" class="btn btn-info mt-3">Show Comments</button>

</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>
